Import necessary libaries and environment settings.

In [27]:
%%capture
pip install --upgrade pip && pip install -r requirements.txt

In [28]:
import numpy as np 
import pandas as pd
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

In [29]:
# Read in .csv dataset
df_udemy = pd.read_csv('./udemy_course_data/3.1-data-sheet-udemy-courses-web-development.csv')
# Show the column info
print('columns in udemy_course_data_webdev are: ', df_udemy.columns)

columns in udemy_course_data_webdev are:  Index(['course_id', 'course_title', 'url', 'price', 'num_subscribers',
       'num_reviews', 'num_lectures', 'level', 'Rating', 'content_duration',
       'published_timestamp', 'subject'],
      dtype='object')

In [30]:
# create a sqlite engine
engine = create_engine('sqlite://', echo=False)

# export the dataframe as a table 'udemy_webdev' to the sqlite engine
df_udemy.to_sql("udemy_webdev", con =engine)

1205

In [31]:
# Test the code by select the complete table
query='''
SELECT *
FROM udemy_webdev
LIMIT 3

'''
  
result = pd.read_sql_query(query, con=engine)
result.head()

,index,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
0,0,41295.0,Learn HTML5 Programming From Scratch,https://www.udemy.com/learn-html5-programming-...,0.0,268923.0,8629.0,45.0,Beginner Level,0.82,10.5,2013-02-14T07:03:41Z,Subject: Web Development
1,1,59014.0,Coding for Entrepreneurs Basic,https://www.udemy.com/coding-for-entrepreneurs...,0.0,161029.0,279.0,27.0,Expert Level,0.69,3.5,2013-06-09T15:51:55Z,Subject: Web Development
2,2,625204.0,The Web Developer Bootcamp,https://www.udemy.com/the-web-developer-bootcamp/,200.0,121584.0,27445.0,342.0,Beginner Level,0.89,43.0,2015-11-02T21:13:27Z,Subject: Web Development

In [32]:
# To see the number of different levels that the course provide
query='''
SELECT DISTINCT level
FROM udemy_webdev
WHERE level IS NOT NULL;
'''

result = pd.read_sql_query(query, con=engine)
result.head()

                level
0      Beginner Level
1        Expert Level
2          All Levels
3  Intermediate Level

In [33]:
# The most popular beginner-level courses
query='''
SELECT course_title, url, price, num_subscribers, rating
FROM udemy_webdev
WHERE level IS NOT NULL AND level = 'Beginner Level' 
AND num_subscribers = (SELECT MAX(num_subscribers) FROM udemy_webdev)
'''

result = pd.read_sql_query(query, con=engine)
result.head()

,course_title,url,price,num_subscribers,Rating
0,Learn HTML5 Programming From Scratch,https://www.udemy.com/learn-html5-programming-...,0.0,268923.0,0.82